node_modules/
frontend/node_modules/

netBackend/bin/
netBackend/obj/

.vs/
*.user
*.suo
*.sln.docstates
*.vsp
*.vspscc
*.opensdf
*.vc*proj.filters
*.vcxproj.user
*.resharper
*.bak
*.cache

.env
.env.local

*.tmp
*.log